<app-navigation></app-navigation>
<div id="container">
    <div id="page-header"> Answers</div>
    <div id="question">Lorem, ipsum dolor sit amet consec?</div>
    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        

    </div>

    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        

    </div>

    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        

    </div>

    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        

    </div>
    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        

    </div>
    
    <div class="votes-answers">
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer">
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
         

    </div>
    
   
</div>