<app-navigation></app-navigation>
<div id="container" *ngIf="question">
    <div id="page-header"> {{question.questionTitle}}:Answers</div>
    <div id="question" *ngIf="answers"></div>
    <div class="votes-answers" *ngFor="let answer of answers" >
        <div id="votes-action">
            <ion-icon name="caret-up-outline"></ion-icon>
            <div>7 votes</div>
            <ion-icon name="caret-down-outline"></ion-icon>
        </div>

        <div id="answer" >
            <div id="description"> 
                {{answer.answerDescription}}
            </div>
            <div id="comments" [routerLink]='["/comments",answer.id]'>123 Comments</div>
        </div>
    </div>

   
  <hr>
    <div id="page-title" style="font-weight:bolder"> <p>{{question.questionTitle}}</p></div>
    <div ><p style="font-style:italics">{{question.questionDescription}}</p></div>

    
    
    <app-post-answer></app-post-answer>
   
</div>