#container{
    flex:.6;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    height: 100%;
    margin-left: 0.1rem;
    flex-grow:.7;
    padding: 0.5rem;
    background-color:#fefefe;
    margin: .5rem;
}


#all-questions p{
    font-size: 1.5rem;
    font-weight: bold;
}

#ask-button{
    background-color: var(--theme-blue-btn-color);
    color:white;
    cursor: pointer;
    padding:.5rem;
    border-radius: .5rem;
}

#question p{
    font-weight:bolder;
}

#question:hover{
    color:var(--theme-blue-btn-color);
    cursor:pointer;
}

#questions-title-ask-button{
    display: flex;
    justify-content:space-evenly;
    /* background-color:red; */
    /* box-shadow: 2px 2px 2px darkgray; */
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 2px solid gray
}

#votes-answer,#question-tag{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.question-divs{
    display: flex;
    gap:2rem;
    box-shadow: var(--default-box-shadow);
    background-color: #fff;
    margin-top: .3rem;
    padding: 0.2rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1.5rem;

}

#tag{
    box-sizing: border-box;
    background-color: var(--theme-aqua-answers-color);
    padding: .7rem;
    width: max-content;
    height: max-content;
    border-radius: .5rem;

}
#delete{
    color: red;
    width:40px;
    height:40px
}


