<app-navigation></app-navigation>
<div id="container" >
    <div id="questions-title-ask-button">
        <div id="all-questions"><p>All Questions</p></div>
        <div id="ask-button" routerLink="/ask-a-question">Ask Question</div>
    </div>

    <div class="question-divs" *ngFor="let question of questions">
        <div id="votes-answer">
           
            <div id="answer">{{answers.length}} answers</div>
        </div>
        
        <div id="question-tag">
            <div id="question" [routerLink]="['/display-answer', question.id]"><p>{{question.questionTitle}}</p></div>
            <div id="tag">{{question.questionTag}}</div>
        </div>
        <div id="author-date" >
            <p>Asked by:Stephen Ondieki</p>
            <p>Date :{{question.dateAsked | date}} </p>
        </div>
        <ion-icon name="trash" id="delete" *ngIf="isAdmin"   (click)="questionDelete()"></ion-icon>
        <div>
            <!-- <button type="submit" >Edit Question</button> -->
            
        </div>
    </div>

   
    
    

    
    
</div>
