<app-navigation></app-navigation>
<div id="container">
    <div id="questions-title-ask-button">
        <div id="all-questions">All Questions</div>
        <div id="ask-button" routerLink="/ask-a-question">Ask Question</div>
    </div>

    <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>

     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>

     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>

     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>

     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>

     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>
     <div class="question-divs">
        <div id="votes-answer">
            <div id="votes">2 votes</div>
            <div id="answer">1 answer</div>
        </div>
        
        <div id="question-tag">
            <div id="question" routerLink="/display-answer">Difference between impure and Pure Function?</div>
            <div id="tag">Java</div>
        </div>
    
    </div>
</div>
