<app-navigation></app-navigation>
<div id="user-profile-container">
    <div id="user-image-actions">
        <div id="username-profile">
            <div id="profile-image">Image</div>
            <div id="full-name">John Doe</div>
        </div>
       
        <div id="actions">
            <div id="edit-profile">Edit Profile</div>
            <div id="delete-profile">Delete Profile</div>
        </div>
    </div>
    <div class="details-stats">
        <div id="username-email">
            <div id="username">Username</div>
            <div id="email">Email</div>
        </div> 
    
        <div id="stats-votes-questions">
            <div id="stats">Stats</div>
            <div id="votes">Votes:20</div>
            <div id="questions">Questions:20</div>
        </div>

        <div>Questions</div>
        <div>
            lorem questions
        </div>
           
    </div>
   

  

</div>
