/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat&display=swap');
@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --theme-blue-btn-color:#00308f;
  --theme-light-black-color:#232629;
  --theme-light-gray-color:#d9d9df;
  --theme-aqua-answers-color:#e1ecf4;
  --theme-fade-orange-color:rgba(244,128,35,0.4);
  --default-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  --main-bg-color: #F5F5F5;
  --comments-font-color:maroon;
  --dark-gray-color:#868484;
}

*{
    font-family: 'Jost', 'Montserrat', sans-serif;
}
body{
    background-color:var(--main-bg-color);
    min-height:100svh;
    width:100%;
    margin:0;
}

app-root{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100svh;

}
app-header{
    display: flex;
    align-items: center;
    background-color: white;
    width:100%;
    flex-direction: row;
    min-height:60px;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap:1rem;
    box-sizing: border-box;
    padding:0.5rem 0.5rem;
    box-shadow:var(--default-box-shadow);

    top:0;
}

app-footer {
    display: flex;
    align-items: center;
    background-color: var(--theme-light-black-color);
    width:100%;
    flex-direction: row;
    min-height:60px;
    justify-content: space-around;
    flex-wrap:wrap;
    box-sizing: border-box;
    padding:0.5rem 0.5rem;
    color:white;
    gap:1rem;
    /* position: sticky; */
    bottom: 0;
    
}

app-mainpage{
    flex: 1;
    min-height: 70vh;
    

    
}

app-sign-up, app-sign-in{
    flex:1;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

app-navigation{
    display:flex;
    position: sticky;
    /* width: 100%; */
    /* border-right: 2px solid #fefefe; */
    flex:.2;   
    padding: 2px;
    flex-grow: .2;

}

app-user-profile,app-questions,app-ask-a-public-question,app-post-answer,app-tags,app-display-answer,app-comments,app-users-list,app-not-found{
        flex:1;
        display:flex;
        flex-wrap:wrap;
}
app-not-found{
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color:red;
    flex-direction: column;
}
#flash-messages {
    position: fixed;
    z-index: 1;
    top: 5svh;
    right: 3svw;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: min(400px, 60svw);
    color: white;
}


app-flash-message {
    color: white;
    padding: 0.2rem 0.5rem;
    font-size: large;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.9;
    border-radius: 5px;
}

.error {
    background-color: rgba(253,0,0,0.5);
}

.success {
    background-color: green;
}

.info {
    background-color: gray;
}
    
@media (max-width:502px){
        app-navigation{
            flex-direction: row;
            flex-wrap:wrap;
            border-right: none;
            gap:0;
            flex-grow: .1;
            width: min(100svw,500px);
            border-bottom:2px solid gray;
        }
        app-user-profile,app-questions,app-ask-a-public-question,app-post-answer,app-tags,app-display-answer,app-comments,app-users-list,app-not-found{
            flex-direction: column;
            flex-grow:1
        }
        
        
        
} 
    