.side-navigation-bar{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:min(90svw ,100%);
    overflow: none;
    align-items: center;
    box-sizing: border-box;
    
}
.side-navigation-bar div{
    cursor:pointer;
    width:min(100svw ,90%);
    padding-left: .7rem;
    box-sizing: border-box;
}

.side-navigation-bar div:hover{
    cursor:pointer;

  background-color: var(--theme-light-gray-color);

}
.side-navigation-bar div:active{
    background-color:var(--theme-black-gray-color)
}


@media (max-width:602px){
    .side-navigation-bar{
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-around;
        
       
    
        
    }
}
.nav{
    display:flex;
    align-items: center;
    gap:.5rem;
    width:2rem;
  
}

.side-navigation-bar div.active{

    color:maroon;
    border-bottom: 4px solid maroon;
    font-size: 1rem;
    background-color: var(--dark-gray-color);
}
