
<div class="main-content">
    <div id="theme-image">
        <!-- <img src="../../../assets/blue-screen-error-codes-4065576-e9b8e54957e04a39b7bb961cb5cf43b7.png" alt="theme-image"> -->
        <div id="content">
            <div id="welcome">Welcome to DecodeStack</div>
                <p>Join the Stack Overflow community
                    Get unstuck — ask a question
                    Unlock new privileges like voting and commenting
                    Save your favorite questions, answers, watch tags, and more
                    Earn reputation and badges
                    Collaborate and share knowledge with a private group for FREE. Where Newbies and Nerds barrier are eliminated and become one community. We also slack round when not talking about  codes</p>
             <div id="started" routerLink="/questions">Get started</div>
        </div>
    </div>
   
</div>
