#welcome{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    min-width: 100%;

}
.main-content{
    display: flex;
    box-sizing: border-box;
    flex-wrap:wrap;
    justify-content:center;
    background: url("../../../assets/blue-screen-error-codes-4065576-e9b8e54957e04a39b7bb961cb5cf43b7.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:90vh;
    width: 100%;           
    color:#fff;
    align-items:center;
    
}
/* #theme-image{
    
    flex-wrap:wrap;
    
} */
#content{
    
    text-align:center;
    font-size:2rem;
    backdrop-filter:blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    

    
} 

#started{
    background-color: var(--theme-blue-btn-color);
    box-sizing: border-box;
    padding:1rem ;
    width: max-content;
    height: max-content;
    border-radius: 20px;
    
}
#started:hover{
    background-color: #fff;
    color:black;
}