<div id="welcome">Welcome to DecodeStack</div>
<div class="main-content">
    <div id="theme-image">
        <!-- <img src="../../../assets/blue-screen-error-codes-4065576-e9b8e54957e04a39b7bb961cb5cf43b7.png" alt="theme-image"> -->
        <div id="content">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc suscipit ante eu lorem interdum, vel vehicula nulla ornare. Aliquam auctor odio ut velit rhoncus, sit amet viverra eros imperdiet. Phasellus lacinia sollicitudin augue, in vehicula tortor porttitor et. Aliquam ornare, diam sit amet feugiat lobortis, nibh nunc scelerisque metus, sed bibendum risus neque et orci. Donec quam ante, dignissim in risus ac, efficitur ornare est. Proin ultricies libero eget aliquet rutrum. Praesent et gravida nunc. Donec quis pulvinar ante. Ut vel purus feugiat, pellentesque quam et, euismod ante. Nullam hendrerit sem urna, a blandit elit lacinia vel. Vestibulum quis tempus turpis. In hac habitasse platea dictumst.          
         
        </div>
    </div>
   
</div>
