<app-navigation></app-navigation>
<div id="container">
    <div id="page-header"> 
        <p>Tags</p>
        <div class="filter">
            <div id="search-header-form">
                <input type="text" placeholder="filter" id="query" [(ngModel)]="filterTag" >
                
                <ion-icon name="search-outline" id="search-icon" width="4"></ion-icon>
            </div>
        </div>
    </div>
    <p>Filtered by:{{filterTag}}</p>
    <div class="tag-cards" *ngIf="filterTagArray.length; else noques">
        <div id="tag-card" *ngFor="let q of filterTagArray">
            <div id="tag-type">{{q.questionTag}}</div>
            
            <div id="description"> 
                <p>{{q.questionTitle}}</p>
                {{q.questionDescription}}
            </div>
            <div id="comments" [routerLink]="['/display-answer',q.id]"> Go to that answers </div>
        </div>



    </div>
    <ng-template #noques >
        <label class="not-found">
            No filtered questions found 
        </label>
    </ng-template>
     

    
  
</div>
