#container{
    flex:.7;
    border: .1px transparent #fefeff;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 0.1rem;
    flex-grow:.7;
    /* border: 1px solid red; */
    gap:1rem;
    justify-content: center;
    align-items: center;
}

#search-header-form{
    display: flex;
    width: max(50%,270px);
    border-radius: 0.5rem;
    border: 2px solid gray;
    box-shadow: var(--default-box-shadow);
}

#query{
    flex:1;
    justify-self: center;
    height: 2rem;
    outline: none;
    border:none;

}

#search-icon{
    height:2rem;
    width: 2rem;
}
p{
    font-size: x-large;
    font-weight: bolder;
}

#page-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    /* gap:250px; */
}

.tag-cards{
    display: flex;
    flex:.7;
    border: .1px transparent #fefeff;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 0.1rem;
    flex-grow:.7;
    /* border: 1px solid red; */
    gap:1rem;
    justify-content: center;
    align-items: center;
    
}

#tag-card{
    display: flex;
    flex-direction: column;
    border:1px solid red;
    width:min(100svw, 300px);
    height: min(30svh, 300px);
    justify-content: flex-start;
    box-sizing: border-box;
    padding: .5rem;
    background-color: #fefeff;
    border: 1px solid  gray;
}

#tag-card:hover{
    box-shadow: var(--default-box-shadow);
}
#tag-type{
  background-color: var(--theme-aqua-answers-color);
  padding: .5rem;
  width: max-content;
  height: max-content;
  border-radius: .5rem;
}
#comments{
    color:var(--theme-light-gray-color);
    cursor:pointer;
}
#comments:hover{
    color:aqua;
}
