<app-navigation></app-navigation>
<div id="container">
    <div id="page-header"> 
        <p>Tags</p>
        <div class="filter">
            <form id="search-header-form">
                <input type="text" placeholder="filter" id="query">
                <ion-icon name="search-outline" id="search-icon" width="4"></ion-icon>
            </form>
        </div>
    </div>
    <div class="tag-cards">
        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>

        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>

        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>

        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>

        
        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        
        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>
        
        <div id="tag-card">
            <div id="tag-type">Javascript</div>
            <div id="description"> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
            </div>
            <div id="comments" routerLink="/comments">123 Comments</div>
        </div>


    </div>
   

    
  
</div>
