
<div id="container">
   
    <form id="question-form" [formGroup]="answerForm" (ngSubmit)="onAnswer()">
    
        <div class="answer-description" class="answer-inputs">
            <label for=""> Your Answer</label>
            <input type="text" id="description" formControlName="answerDescription" required>
            <div *ngIf="answerForm.get('answerDescription')!.errors && answerForm.get('answerDescription')?.touched" id="error">Answer cannot be empty</div>
        </div>


        <button type="submit" id="post-answer-btn">Post Answer</button>
    </form>
   
</div>
