<app-navigation></app-navigation>
<div id="container">
    <div id="page-title"> <p>Question Title</p></div>
    <form id="question-form">
        <div class="answer-title" class="answer-inputs">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </div>

        <div class="answer-description" class="answer-inputs">
            <label for="" >Answer</label>
            <input type="text" id="description">
        </div>


        <div id="post-answer-btn">Post Answer</div>
    </form>
   
</div>
