.inputs{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: space-between;
    gap:0.7rem;
    width: 90%;
    outline: none;
}

.inputs input{
    outline: none;
    border:none;
    border-bottom: 1px solid black;
    height: 2rem;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90svw, 600px);
    border-radius: 20px;
    box-shadow:var(--default-box-shadow);
    flex-wrap:wrap;

}
button{
    box-sizing: border-box;
    margin: 0.7rem auto;
    width: min(60svw ,20rem);
    color:white;
    background-color: var(--theme-blue-btn-color);
    padding: .5rem;
    font-size: 1rem;
    border:none;
}

button:hover{
    background: transparent;
    border:2px solid var(--theme-blue-btn-color);
    color:black
}


#form-footer{
    display :flex;
    margin:1rem;
}

#signin-member{
    color:blue;
    cursor: pointer;
}