<app-navigation></app-navigation>
<div id="container">
    <div id="answer">
        <div id="page-header">Comments</div>
        <div id="description"> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
        </div>

    </div>

    <div id="answer">
      
        <div id="description"> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
        </div>

    </div>

    <div id="answer">
        
        <div id="description"> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
        </div>
    
    </div>

    <div id="answer">
        <div id="description"> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
        </div>

    </div>
    
    <div id="answer">
           <div id="description"> 
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus ut animi facilis blanditiis officiis cumque minus sapiente quidem fugit, nihil quae? Dicta qui eum voluptates fuga perferendis nihil facilis enim.
        </div>

    </div>
    <div id="add-comment-div">
        <form action="">
            <input type="text" id="comment-msg">
            <div id="comment-btn">Add Comment</div>
        </form>
    </div>
    
</div>
