<app-navigation></app-navigation>
<div id="container">
    <div id="comment">
        <p><strong>Comments</strong></p>
        <div id="page-header" *ngIf="comments.length"></div>
        <div id="description" *ngFor="let comment of comments" > 
           {{comment.commentDescription}}
        </div>

    </div>
 
  
    <div id="add-comment-div">
        <form [formGroup]="commentForm" (ngSubmit)="onComment()">
            <input type="text" id="comment-msg" formControlName="commentDescription">
            
            <button id="comment-btn" type="submit">Add Comment</button>
        </form>
    </div>
    
</div>
