#container{
    flex:.7;
    border: .1px transparent #fefeff;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 0.1rem;
    flex-grow:.7;
    gap:4rem;
    justify-content: center;
    align-items: center;
}

#page-header{
    font-size: x-large;
    font-weight: bolder;
}

#answer{
    display: flex;
    background-color: var(--theme-fade-orange-color);
    margin-bottom: .1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

#comment-btn{
    color:white;
    background-color: var(--theme-blue-btn-color);
    width: max-content;
    padding: 0.2rem;
    height: max-content;
    border-radius: .5em;
}

#add-comment-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--default-box-shadow);
    flex-wrap: wrap;


}

form{
    width: 100%;
    gap:.5rem;
    display: flex;
    flex-direction: column;



}

#comment-msg{
    width: 90%;
    height: 10rem;
}


