#container{
    flex:.7;
    border: .1px transparent #fefeff;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 0.1rem;
    flex-grow:.7;
    gap:4rem;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 1.5rem;
    font-weight: bold;
}
#description{
    background-color: var(--theme-fade-orange-color);
    margin: .05em;
    border-bottom: 1px solid white;
    width: min(100svw, 65%);
    border-radius: 20px;
}

#page-header p{
    font-size: 1.5rem;
    font-weight: bolder;
}

#comment{
    display: flex;
  
    margin-bottom: .1rem;
    flex-wrap: wrap;
    flex-direction: column;
}

#comment-btn{
    color:white;
    background-color: var(--theme-blue-btn-color);
    width: max-content;
    padding: 0.2rem;
    height: max-content;
    border-radius: .5em;
}

#add-comment-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width:75%
    


}

form{
    width: 100%;
    gap:.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem ;
 

}

#comment-msg{
    width: 90%;
    height: 100%;
}


