<div>
  <p>Hello <%=name%></p>
  <h2>Welcome <%=name%></h2>
  <p>
    We are proud to have you as a our new member feel free to mingle with with
    other developers.<%=message%>
  </p>
  <p>Let's Get started</p>
</div>
